[run]
source = pkgcore
branch = True
omit =
	tests/*
	*/_const.py
	*/_verinfo.py

[paths]
source =
	src/pkgcore
	.tox/*/lib/python*/site-packages/pkgcore
	.tox/pypy*/site-packages/pkgcore

[report]
show_missing = True
skip_covered = True
exclude_lines =
	# re-enable the standard pragma
	pragma: no cover

	# ignore defensive assertions
	raise AssertionError
	raise NotImplementedError

	# ignore unexecutable code
	if __name__ == .__main__.:
