[run]
source = pkgcore
branch = True
omit =
	pkgcore/test/*
	pkgcore/_verinfo.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
	# re-enable the standard pragma
	pragma: no cover

	# ignore defensive assertions
	raise AssertionError
	raise NotImplementedError

	# ignore unexecutable code
	if __name__ == .__main__.:
