*.py[co]
.*.sw[po]

# C extensions
src/**/*.so

# generated function lists
bash/funcnames

pkgcore/plugins/plugincache
/build
/cache
/dist
/.tox
/.coverage
/*.egg-info
_trial_temp
/doc/dev-notes/index.rst
/doc/dev-notes/*/index.rst
/doc/doc/index.rst
/doc/_build/
/doc/api/
/doc/generated/
