*.py[co]
.*.sw[po]
pkgcore/ebuild/*.so
pkgcore/plugins/plugincache
pkgcore/restrictions/*.so
/build
/cache
/dist
_trial_temp
/doc/dev-notes/index.rst
/doc/dev-notes/*/index.rst
/doc/doc/index.rst
/doc/_build/
/doc/api/
