*.pyc
*.pyo
pkgcore/ebuild/*.so
pkgcore/plugins/plugincache2
pkgcore/restrictions/*.so
build
dist
_trial_temp
/man/*.1
/doc/dev-notes/index.rst
/doc/dev-notes/*/index.rst
/doc/doc/index.rst
/doc/_build/
/doc/api/
/doc/man/
