include AUTHORS BSD GPL2 LICENSE *.py *.rst
include requirements.txt tox.ini .coveragerc
recursive-include bin *
recursive-include config *
recursive-include doc *
recursive-include ebd *
recursive-include examples *
recursive-include shell *
recursive-include tests *
recursive-include src *.[ch]
global-exclude *.pyc *.pyo __pycache__
