include AUTHORS BSD GPL2 LICENSE *.rst
include build_api_docs.sh requirements.txt tox.ini .coveragerc
recursive-include bin *
recursive-include doc *
recursive-include examples *
recursive-include bash *
recursive-include completion *
recursive-include config *
recursive-include src *.[ch]
global-exclude *.pyc *.pyo __pycache__
