# note this is no longer a valid config.  just exists for information/example of domain flexibility/intentions.
# ~harring

[rsync cache]
type = cache
class = portage.cache.flat_list
basedir = %(VDB_PATH)

[rsync repo]
type = repo 
class = portage.ebuild.repository
basedir = /usr/portage
cache = 'rsync cache'

[vdb]
type = repo
class = portage.installed_pkg.repository

[base config]
type = config
USE="nptl nptlonly -gnome -oss mad matroska faad mpg avi -arts mmx mmxext flac bidi dvd ssl sdl xvid 3dnow 3dnowext 
sse sse2 mythtv rtc -svga -ipv6 win32codecs -esd"
DISTDIR = "/space/distfiles"
FEATURES = "confcache parallel-fetch"
package.use = %(CONFDIR)/package.use
package.mask = %(CONFDIR)/package.mask
package.unmask = %(CONFDIR)/package.unmask
package.keywords = %(CONFDIR)/package.keywords

[x86]
type = config
CFLAGS = "-O2 -march=pentium4 -pipe"
CHOST = "i686-pc-linux-gnu"
profile = "rsync repo/profiles/default-linux/x86/2005.0"
inherit = 'base config'
ACCEPT_KEYWORSD = "x86"

[ppc config]
type = config
CFLAGS = "-O2 -march=ppc -pipe"
CHOST = "darwin7.4"
inherit 'base config'
ACCEPT_KEYWORDS = "ppc"

[default domain]
type = domain
root = "/"
repositories = 'rsync repo' vdb
config = x86

[ppc target]
type = domain
repositories = 'rsync repo' ppc-vdb
config = 'ppc config'
root = "/home/targets/ppc"
