#unused atm, bind it in somehow.

[rsync cache]
type = cache
class = portage.cache.flat_list
path = %(CACHE_PATH)

[rsync repo]
type = repo 
class = portage.ebuild.repository
path = /usr/portage
cache = 'rsync cache'

[vdb]
type = repo
class = portage.installed_pkg.repository
path = 

[x86]
type = config
USE="nptl nptlonly -gnome -oss mad matroska faad mpg avi -arts mmx mmxext flac bidi dvd ssl sdl xvid 3dnow 3dnowext 
sse sse2 mythtv rtc -svga -ipv6 win32codecs -esd"
DISTDIR = "/space/distfiles"
FEATURES = "confcache parallel-fetch"
package.use = %(CONFDIR)/package.use
package.mask = %(CONFDIR)/package.mask
package.unmask = %(CONFDIR)/package.unmask
package.keywords = %(CONFDIR)/package.keywords
CFLAGS = "-O2 -march=pentium4 -pipe"
CHOST = "i686-pc-linux-gnu"
profile = "rsync repo/profiles/default-linux/x86/2005.0"
inherit = 'base config'
ACCEPT_KEYWORSD = "x86"

[default domain]
type = domain
root = "/"
repositories = 'rsync repo' vdb
config = x86

