name: release

on:
  push:
    branches: [deploy]
    tags: [v*]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
        cache: 'pip'
        cache-dependency-path: |
          requirements/dist.txt
          requirements/test.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dist.txt -r requirements/test.txt

    - name: Test with pytest
      env:
        PY_COLORS: 1 # forcibly enable pytest colors
      run: python setup.py test

    - name: Build sdist
      run: |
        git clean -fxd
        python setup.py sdist

    - name: Build wheel
      run: python setup.py bdist_wheel

    - name: Output dist file info
      run: |
        sha512sum dist/*
        tar -ztf dist/*.tar.gz | sort

    - uses: actions/upload-artifact@v3
      with:
        name: results
        path: dist/*

    - name: Install twine and check files
      run: |
        pip install twine wheel-inspect
        twine check dist/*
        wheel2json dist/*.whl

    - name: Upload to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        twine upload dist/*

    - name: Create GitHub release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/*.tar.gz
        fail_on_unmatched_files: true
