name: test

on:
  push:
    branches-ignore: [deploy]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.8', '3.9']
        deps: [newest-deps]
        experimental: [false]
        include:
          - os: ubuntu-latest
            python-version: '3.10.0-alpha - 3.10.0'
            deps: newest-deps
            experimental: true
          - os: ubuntu-latest
            python-version: 3.9
            deps: minimal-deps
            experimental: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Configure pip cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*') }}
        restore-keys: ${{ runner.os }}-pip-

    # experimental targets generally lack lxml wheels
    - name: Install libxml2 and libxslt development packages
      if: ${{ matrix.experimental }}
      run: sudo apt install libxml2-dev libxslt-dev python3-dev

    # macos needs newer bash
    - name: Install macos deps
      if: ${{ matrix.os == 'macos-latest' }}
      run: brew install bash

    - name: Pin dependencies to minimal versions
      if: ${{ matrix.deps == 'minimal-deps' }}
      run: |
        sed -i -e 's:~=:==:' requirements/*
        mv requirements/install.txt requirements/dev.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/test.txt
        pip install -r requirements/ci.txt
        pip install .

    - name: Test with pytest
      # forcibly enable pytest colors
      env:
        PY_COLORS: 1
      run: |
        pytest --cov --cov-report=term --cov-report=xml -v

    - name: Submit code coverage to codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
