name: test

on:
  push:
    branches-ignore: [release-test-*]
  pull_request:
    branches: [master]
  workflow_call:
    inputs:
      release-artifact-id:
        required: false
        type: string
        default: ''
        description: The artifact-id to run the tests against.
      disable-format-check:
        type: string
        default: ''
        description: Disable ruff format check if it is a non empty value

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11', '3.12', '3.13']
        deps: [newest-deps]
        experimental: [false]
        include:
          - os: ubuntu-latest
            python-version: '3.13'
            deps: minimal-deps
            experimental: false
          - os: ubuntu-latest
            python-version: '3.14-dev'
            deps: newest-deps
            experimental: true
          - os: macos-latest
            python-version: '3.13'
            deps: newest-deps
            experimental: false
      fail-fast: false

    steps:
    - name: Checkout pkgcore
      uses: pkgcore/gh-actions/get-source@main
      with:
        artifact-id: ${{ inputs.release-artifact-id }}

    - name: Install bash 5.3
      uses: pkgcore/gh-actions/bash-5.3@main

    - name: Pin dependencies to minimal versions
      if: ${{ matrix.deps == 'minimal-deps' }}
      run: sed -e '/dependencies/,$s/~=/==/' -i pyproject.toml

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: pyproject.toml

    # experimental targets generally lack lxml wheels
    - name: Install libxml2 and libxslt development packages
      if: ${{ matrix.experimental }}
      run: sudo apt install libxml2-dev libxslt-dev python3-dev

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[test]" pytest-github-actions-annotate-failures

    - name: Test with pytest
      env:
        PY_COLORS: 1 # forcibly enable pytest colors
      run: |
        pytest --cov --cov-report=term --cov-report=xml -v

    - name: Submit code coverage to codecov
      if: ${{ matrix.os == 'ubuntu-latest' }}
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml

  revdep:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        repo: ['pkgcheck', 'pkgdev']
    steps:
    - name: Checkout pkgcore
      uses: pkgcore/gh-actions/get-source@main
      with:
        artifact-id: ${{ inputs.release-artifact-id }}
        path: pkgcore

    - name: Install bash 5.3
      uses: pkgcore/gh-actions/bash-5.3@main

    - name: Find last ${{ matrix.repo }} release
      run: |
        versions=$(git ls-remote -q --refs https://github.com/pkgcore/${{ matrix.repo }}  | \
          sed -nre 's:.*refs/tags/(.+)$:\1:p' | \
          sort -V)
        echo found versions:
        echo "${versions}"
        latest=$(echo "$versions" | tail -n 1)
        echo "latest=${latest}"
        [ -z "$latest" ] && { echo "failed finding the tag"; exit 1; }
        echo "LATEST_TAG=$latest" >> $GITHUB_ENV

    - name: Checkout ${{ matrix.repo }} ${{ env.LATEST_TAG }}
      uses: actions/checkout@v5
      with:
        repository: pkgcore/${{ matrix.repo }}
        path: ${{ matrix.repo }}
        ref: refs/tags/${{ env.LATEST_TAG }}

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: |
          pkgcore/pyproject.toml
          ${{ matrix.repo }}/pyproject.toml

    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install "./pkgcore"
        pip install "./${{ matrix.repo }}[test]"

    - name: Test with pytest
      working-directory: ./${{ matrix.repo }}
      env:
        PY_COLORS: 1 # forcibly enable pytest colors
      run: pytest -v

  lint:
    runs-on: ubuntu-latest
    if: inputs.disable-format-check == ''
    steps:
    - name: Checkout pkgcore
      uses: actions/checkout@v5

    - name: Ruff lint check
      uses: astral-sh/ruff-action@v3
      with:
        args: "check --diff"

  format:
    runs-on: ubuntu-latest
    if: inputs.disable-format-check == ''
    steps:
    - name: Checkout pkgcore
      uses: actions/checkout@v5
    - uses: astral-sh/ruff-action@v3
      with:
        args: "format --check --diff"

  gentoo-regen:
    runs-on: ubuntu-latest
    continue-on-error: true # This job currently fails with ubuntu's bash 5.3
    steps:
    - name: Checkout pkgcore
      uses: pkgcore/gh-actions/get-source@main
      with:
        artifact-id: ${{ inputs.release-artifact-id }}
        path: pkgcore

    - name: Install bash 5.3
      uses: pkgcore/gh-actions/bash-5.3@main

    - name: Checkout gentoo
      uses: actions/checkout@v4
      with:
        repository: gentoo/gentoo
        path: gentoo

    - name: Collect gentoo sha1
      run: |
        rev=$(git --git-dir gentoo/.git/ rev-parse HEAD)
        echo "sha1 is $rev"
        echo "GENTOO_SHA1=${rev}" >> "$GITHUB_ENV"

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install "./pkgcore"

    - name: Run pmaint regen against ${{ env.GENTOO_SHA1 }}
      working-directory: ./gentoo
      run: pmaint regen --use-local-desc --pkg-desc-index --rsync --force .
